# Feature Imputation with a Heat Flux Dataset

"The dataset for this competition (both train and test) was generated from a deep learning model trained on the Predicting Critical Heat Flux dataset. Feature distributions are close to, but not exactly the same, as the original. Feel free to use the original dataset as part of this competition, both to explore differences as well as to see whether incorporating the original in training improves model performance."

This is an imputation problem. The **aim** is to predict the missing values of the feature x_e_out (with the corresponding row id).

Submissions are scored on the root mean squared error (RMSE)

Resources:
- [Kaggle challenge](https://www.kaggle.com/competitions/playground-series-s3e15/data)
- [Original Dataset](https://www.kaggle.com/datasets/saurabhshahane/predicting-heat-flux)
- [Journal Article](https://pdf.sciencedirectassets.com/271641/1-s2.0-S1359431119X00162/1-s2.0-S1359431119332065/am.pdf?X-Amz-Security-Token=IQoJb3JpZ2luX2VjEP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJHMEUCIQC%2BIrgCO5vFbMuMV3F%2FNWnJ9OIsK0jIRwaUAZjqZ2QhPQIgYnm1A%2FvWZBFg3RY%2FdaTtkmGz%2FxjNEETLz55F9yj45x8qsgUIKBAFGgwwNTkwMDM1NDY4NjUiDNOD8Ei%2FTjyRx4TH2iqPBdjoPE5LtgE1Ip1ZURCCcgBFC1EgEqbDl7FyGG3HqCNybFz8eUIPjkMzxNzOfCubyZfFrwzZyUAWMmL6DW7iUwxnQiZDvCgPf2%2Fvie5RlaeqtJLOe29q0HnodCNrpeQGS4%2BNQ0qAtnRIY8h%2BA8ahkrK%2FKX%2BOl9TvrWMS8yBemSsSKaVJEngsK8JQS3mXRm%2Bndw9Q4vcFdK%2FYs4YE25KmJhDBtz2zFV7Od6U0YNRCzzszuhRCt%2FNJz9Li5QMhB1YtN6IcLTKvyWJOdzyaPtl14SvhdjP6UFddwfA6T46zb%2Bd9YztwSnClHPG89n4%2BrtRsB6xDZqOv9lWs6q7JUducAwAwDDIBEBnszqLo7VumuNxobE6N4mrTF2OEcXuzfKhThYmc9xedeOSYyDdkWs2RrD8f4cpQibzpDAhRlnQVGtG9GwQXoRgOsXES7%2F3bkYCHiU7AaHr4acVFNGUGrk8tikOknGnxPl6vzZUVDwaA4MWWKms8hB0ZH0y0QWfOreRzJ4fKWs0udZA9Hp1wqnIdZJYWCC1xUQEbX8uVFfi5PDXheIRUAA%2Fta5ps4026H8xIht%2BHEq0bzEDWL%2BWh3hhDHA5tbMehqmAIVLjckSwG8By6LaQvfNNJcw8Lm5lhwWYvawkN8MqQgEx1aAIvmF2lE3%2Bww5Ge2f0v8sF%2B1MvEzKzW%2Bl6tVYePHVjlBM9%2FMt828mRhAex%2FrDi24LwoIrZCvm9xcjsd7bewCQjrtbs%2BQ7LElalJbwAFyU%2BHGnIa6X8iZq30L%2FVjVER9%2BDEgD9STBcqL7EcUyJN4Nb66ZlEeNempQa9a8hIiuryhuhK2aV2QNvZWfRRZNk1PSEQj2ZobqlPQ4DI870g1dcvnrg3lBFEwxsqMowY6sQF71W7UrJdwf%2FhfsUHvvZHDVJAI%2BdAj9o8qp2PINJM4Z0SUg125%2BvZ0%2FzQTPxe37zG2xTr16cAARPmZ63VTzpIrYRrCpc%2B0qRdn5%2F4k8F1GVD370mBXwcDkr3WD0hFITbAadXTuBBeo82RXZFuv6rWBnjMGsgU0%2FN1H36s2Bsja7eJ0fMBHgRKaRrjuIekuUH1FRYp6K6nDQuXzsdMwzQEoIKdpJe4SUNmjTWsIhVE8%2FtA%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230516T074854Z&X-Amz-SignedHeaders=host&X-Amz-Expires=299&X-Amz-Credential=ASIAQ3PHCVTYSYL7QF7J%2F20230516%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=c8f9059711597f2ded764d97a7a0bb7ea1d86ba7b671d312f690a6f9c8c54dc1&hash=8e2caefd1bdd1476d455d85c78a924b2678c53e4c118e6f56deffb8cfe6bd013&host=68042c943591013ac2b2430a89b270f6af2c76d8dfd086a07176afe7c76c2c61&pii=S1359431119332065&tid=pdf-efc6b1cb-0ad9-444a-8924-094a1f1ebcec&sid=61c39d5a30a5d1405a0afc9542c11729fc10gxrqb&type=client)

In [1]:
# importing standard libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import learning_curve, LearningCurveDisplay, ShuffleSplit

from xgboost import XGBRegressor

import lightgbm as lgb

In [3]:
# Define Seaborn theme parameters
theme_parameters =  {
    'axes.spines.right': False,
    'axes.spines.top': False,
    'grid.alpha':0.3,
    'axes.titlesize': 16,
    'figure.figsize': (12, 4),
}

# Set the theme
sns.set_theme(style='whitegrid',
              palette=sns.color_palette('colorblind'), 
              rc=theme_parameters)

# Read Data

In [7]:
read_from_kaggle = False

In [13]:
if read_from_kaggle:
    
    data = pd.read_csv("/kaggle/input/playground-series-s3e15/train.csv")
    
else:

    data = pd.read_csv("./../data/critical_heat_flux.csv")
    data_orig = pd.read_csv("./../data/original_chf.csv")

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31644 entries, 0 to 31643
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   31644 non-null  int64
 1   author               26620 non-null  object
 2   geometry             26144 non-null  object
 3   pressure [MPa]       27192 non-null  float64
 4   mass_flux [kg/m2-s]  26853 non-null  float64
 5   x_e_out [-]          21229 non-null  float64
 6   D_e [mm]             26156 non-null  float64
 7   D_h [mm]             27055 non-null  float64
 8   length [mm]          26885 non-null  float64
 9   chf_exp [MW/m2]      31644 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.4+ MB

In [15]:
data_orig.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1865 entries, 0 to 1864
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   1865 non-null   int64
 1   author               1865 non-null   object
 2   geometry             1865 non-null   object
 3   pressure [MPa]       1865 non-null   float64
 4   mass_flux [kg/m2-s]  1865 non-null   int64
 5   x_e_out [-]          1865 non-null   float64
 6   D_e [mm]             1865 non-null   float64
 7   D_h [mm]             1865 non-null   float64
 8   length [mm]          1865 non-null   int64
 9   chf_exp [MW/m2]      1865 non-null   float64
dtypes: float64(5), int64(3), object(2)
memory usage: 145.8+ KB

In [17]:
data.describe()

,id,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,31644.000000,27192.000000,26853.000000,21229.000000,26156.000000,27055.000000,26885.000000,31644.000000
mean,15821.500000,10.640747,3068.011023,-0.000453,8.629255,14.174330,832.987391,3.796985
std,9134.980296,4.333683,1777.032080,0.100911,5.185692,19.838489,672.299239,1.983991
min,0.000000,0.100000,0.000000,-0.866700,1.000000,1.000000,10.000000,0.800000
25%,7910.750000,6.890000,1519.000000,-0.046600,5.000000,5.600000,318.000000,2.400000
50%,15821.500000,11.070000,2731.000000,0.003800,7.800000,10.000000,610.000000,3.400000
75%,23732.250000,13.790000,4069.000000,0.064800,10.800000,11.500000,914.000000,4.600000
max,31643.000000,20.680000,7975.000000,0.232000,37.500000,120.000000,3048.000000,19.300000

In [19]:
data_orig.describe()

,id,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
count,1865.000000,1865.000000,1865.000000,1865.000000,1865.000000,1865.000000,1865.000000,1865.000000
mean,933.000000,10.010949,2862.647721,0.016179,9.417212,16.167721,911.340483,3.854638
std,538.523444,4.282715,1656.412247,0.117575,6.333807,21.182870,726.718974,1.985535
min,1.000000,0.100000,0.000000,-0.866700,1.000000,1.000000,10.000000,0.800000
25%,467.000000,6.890000,1519.000000,-0.048300,5.600000,5.600000,432.000000,2.400000
50%,933.000000,10.340000,2590.000000,0.024400,8.500000,10.300000,625.000000,3.500000
75%,1399.000000,13.790000,3933.000000,0.100600,11.100000,15.200000,1778.000000,4.800000
max,1865.000000,20.680000,7975.000000,0.232000,37.500000,120.000000,3048.000000,19.300000